
body{
    margin: auto;

}

#principal{
    background-color: rgb(99, 211, 219);
    border: solid 1px black;
    width: 900px;
    padding-bottom: 90px;
    margin: auto;
}

/* margin: 20px auto; */

h2{
    font: normal 1.4em Verdana, Geneva;
    width: 35%;
    margin: 0px 0px 0px 350px;
    text-align: left;
    padding: 3px;
    color: rgb(43, 5, 5);
}

#myCanvas{
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid #641414;
    margin-left: 50px;
}

#section1{
    background-color: rgb(173, 238, 233);
    float: left;
    margin-left: 50px;
    padding: 5px;
    border-radius: 3px;
}

#botoncolor{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    border: black solid 1px;
    text-align: center;
    padding-bottom: 3px;
}

#boton1{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    border-radius: 3px;
    border: black solid 1px;
    text-align: center;
}

#section2{
    background-color: rgb(173, 238, 233);
    margin-left: 10px;
    width:fit-content;
    padding: 3px;
    float: left;
    border-radius: 3px red;
}

#sep{
    float: left;
    width: 3px;
    height: 20px;
    
}
#coord{
    background-color: white;
    font: normal 0.9em Verdana, Geneva;
    margin-left: 70px;
    margin-bottom: 1px;
    width:130px;
    border:2px solid #31254e;
    border-radius: 5px;
    padding-left: 5px;
    float: left;
}

#colorespre{
    text-align: center;

}

#green{background-color: #008000;width: 20px;height: 20px;border:1px solid black;}#yellow{background-color: #ffff00;width: 20px;height: 20px;border:1px solid black;}#blue{background-color: #0000ff;width: 20px;height: 20px;border:1px solid black;}#red{background-color: #ff0000;width: 20px;height: 20px;border:1px solid black;}#gray{background-color: #808080;width: 20px;height: 20px;border:1px solid black;}#purple{background-color: #800080;width: 20px;height: 20px;border:1px solid black;}#orange{background-color: #ffa500;width: 20px;height: 20px;border:1px solid black;}#violet{background-color: #ee82ee;width: 20px;height: 20px;border:1px solid black;}